[submodule "lib/vendor/jquery.html5"]
	path = lib/vendor/jquery.html5
	url = git://github.com/ClementGautier/jquery.html5.git
[submodule "lib/vendor/jquery.fileupload"]
	path = lib/vendor/jquery.fileupload
	url = git://github.com/blueimp/jQuery-File-Upload.git
